<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <div id="logo">Sample Express App</div>
    <table style="width:100%">
        <tr>
            <td id="avatar-left">
                
            </td>
            <td>
                <div><img src="static/gorgamel.jpg"/></div>
            </td>
            <td id="avatar-right">

            </td>
        </tr>
        <tr>
          <td id="avatar-left">
              
          </td>
          <td>
              <div>
                GET Routes:</br>
                <ul>
                  <li><a target="_blank" href="fruitbox">fruibox</a></li>
                  <li><a target="_blank" href="fruitbox/:boxItemId">fruitboxItem</a></li>
                </ul>
              </div>
          </td>
          <td id="avatar-right">

          </td>
      </tr>




    </table>
</body>
</html>